
//              █         ██        ▄▀▀▀▀▀▀▀▀▀▀█▀▀▀▀▀▀▀▀█▀▀▀▀▀▀▀▀▀▀█
//              █        █ █      ▄▀            ▀▄      █         █
//              █       █  █    ▄▀                ▀▄    █        █
//              █      █   █   █                    █   █       █
//              █     █    █   █                    █   █      █
//              █    █     █   █                    █   █  ▀▀▀█▀▀▀▀
//              █   █ █    █   █                    █   █    █
//              █  █   █   █   █                    █   █   █
//              █ █     █  █    ▀▄                ▄▀    █  █
//              ██       █ █      ▀▄            ▄▀      █ █
//              █         ██▄▄▄▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▀        ██▄▄▄▄▄▄▄▄▄▄
//
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


#include "base_5x3T2.h"

// READABILITY ├───────────────────────────────────────────────┐

#define TTY_1 &kp LC(LA(F1))
#define TTY_2 &kp LC(LA(F2))
#define TTY_3 &kp LC(LA(F3))
#define TTY_4 &kp LC(LA(F4))
#define TTY_7 &kp LC(LA(F7))

// KLOTZ key numbers
//  ___________________________________       ___________________________________
// |  0  |  1  |  2  |  3  |  4  |     |     |     |    5 |   6 |   7 |   8 |  9  |
// | 10  | 11  | 12  | 13  | 14  |     |     |     |   15 |  16 |  17 |  18 | 19  |
// | 20  | 21  | 22  | 23  | 24  | ROT |     | ROT |   25 |  26 |  27 |  28 | 29  |
// |                         30  | 31  |     |  32 |  33                         |
//  -----------------------------------       -----------------------------------

/ {

    keymap {
        compatible = "zmk,keymap";

        qwertz {
            label = "BASE";

            bindings = <
                &hl LALT Q     &kp W    &kp E    &kp R    &kp T                  &kp Y     &kp U    &kp I     &kp O    &hr RALT P
                &hl LSHFT A    &kp S    &kp D    &kp F    &kp G                  &kp H     &kp J    &kp K     &kp L    &hr RSHFT SEMI
                &hl LCTRL Z    &kp X    &kp C    &kp V    &kp B                  &kp N     &kp M    &kp COMMA &kp DOT  &hr RCTRL SLASH
                                                 &my_lt LOWER SPACE &hl LGUI ESC &kp ENTER &my_lt RAISE BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN  &inc_dec_kp C_PREV C_NEXT>;
        };
        numbers {
            label = "LOWER";

            bindings = <
                &kp N1   &kp N2    &kp N3  &kp N4   &kp N5           &kp N6        &kp N7     &kp N8   &kp N9   &kp N0
                &kp F1   &kp F2    &kp F3  &kp F4   &kp F5           &kp F6        &kp F7     &kp F8   &kp F9   &kp F10
                &kp F11  &kp F12   &trans  &kp DEL  &kp TAB          &kp TAB       &kp UNDER  &kp PLUS &kp NUHS &kp RBKT
                                           &trans   &hl LGUI ESC   &hr ESC ENTER &mo ADJUST
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN  &inc_dec_kp C_PREV C_NEXT>;
        };
        symbols {
            label = "RAISE";

            bindings = <
                &kp EXCL    &kp AT      &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET     &kp AMPS     &kp STAR   &kp LPAR     &kp RPAR
                &kp SQT     &kp MINUS   &kp LBKT   &kp GRAVE  &none          &kp LEFT      &kp DOWN     &kp UP     &kp RIGHT    &kp LS(NUHS)
                &kp RA(N8)  &kp RA(N9)  &kp RA(N7) &kp RA(N0) &none          &kp PSCRN     &kp RA(RBKT)    &kp NUBS   &kp LS(NUBS) &kp ESC
                                                   &mo ADJUST &hl LGUI ESC &hr ESC ENTER &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN  &inc_dec_kp C_PREV C_NEXT>;
        };
        combos {
            label = "ADJUST";

            bindings = <
                &none    &kp C_PREV &kp C_PP &kp C_NEXT &none      TTY_1    TTY_2    TTY_3    TTY_4    TTY_7
                &none    &none      &none    &none      &none      &none    &none    &none    &none    &none
                &none    &none      &none    &none      &none      &none    &none    &none    &none    &none
                                             &trans     &trans     &trans   &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN  &inc_dec_kp C_PREV C_NEXT>;
        };
        bluetooth {
            label = "BTC";

            bindings = <
                &none       &none  &none  &none  &none          &out OUT_USB  &bt BT_PRV    &bt BT_NXT    &none         &bt BT_CLR
                &bootloader &none  &none  &none  &none          &out OUT_BLE  &bt BT_SEL 3  &bt BT_SEL 4  &none         &none
                &none       &none  &none  &none  &none          &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none
                                          &none  &none          &none         &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN  &inc_dec_kp C_PREV C_NEXT>;
        };

    };
};
